html,body{
    margin: 0;
    padding: 0;
}
#background{
    background-color: #F8F8F8;
}
.header{
    font-size: 35px;
    margin-top: 10px;
    margin-left: 40px
    
}
.bar{
    background-color: black;
    height:1px;
    width: 50px;
    margin-left: 40px;
    margin-top: 10px;
}
.items {
    display:flex;
    margin-top: 15px;
    margin-left: 40px;
    width: 95%;
    background-color: #E8E8E8;
    border-radius: 5px;
    align-items: center;
    padding-left: 10px;
    justify-content: space-between;
}
.items p {
    width: 33%;
}
#class:hover {
    cursor: pointer;
}
#class {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 130px;
    border: solid black;
    margin-left: 40px;
    border-radius: 3px;
    margin-top: 10px;
}
.darkMode {
    background-color: black;
    color: white;
}
.darkMode #class{
    border: solid white
}
.darkMode .items {
    background-color: #606060;
    color: white;
}